Jesse Luehrs <doy@tozt.net> jluehrs2 <jluehrs2@uiuc.edu>
Jesse Luehrs <doy@tozt.net> doy <doy@tozt.net>
Shawn M Moore <code@sartak.org> sartak <sartak@gmail.com>
Shawn M Moore <code@sartak.org> Shawn M Moore <sartak@gmail.com>
Shawn M Moore <code@sartak.org> Shawn M Moore <sartak@bestpractical.com>
Alex Smith <ais523@bham.ac.uk> ais523 <ais523@bham.ac.uk>
Alex Smith <ais523@bham.ac.uk> Alex Smith <ais523@dell.linuxdev.us.dell.com>
Alex Smith <ais523@bham.ac.uk> Alex Smith <ais523@desert.(none)>
Sebastian Paaske Tørholm <TAEB@spam.mathemaniac.org> TAEB <TAEB@spam.mathemaniac.org>
Sebastian Paaske Tørholm <TAEB@spam.mathemaniac.org> Sebastian Paaske Tørholm <taeb@spam.mathemaniac.org>
Sean Kelly <taeb@katron.org> Sean Kelly <kelly530@umn.edu>
Sean Kelly <taeb@katron.org> kelly530 <kelly530@umn.edu>
Sean Kelly <taeb@katron.org> Sean Kelly <code@katron.org>
